{% extends "base.html" %}
{% block content %}
  <div class="u-comment">
    <div class="u-img">
      <div class="u-thumb">
        <img src="{{ data.snippet.topLevelComment.snippet.authorProfileImageUrl }}">
      </div>
    </div>
    <div class="u-content">
      <a href="{{ data.snippet.topLevelComment.snippet.authorChannelUrl }}">
        <h4 class="u-username">
          {{ data.snippet.topLevelComment.snippet.authorDisplayName }}
          <small>{{ data.snippet.topLevelComment.snippet.publishedAt }}</small>
        </h4>
      </a>
      <div class="u-text">
          {{ data.snippet.topLevelComment.snippet.textDisplay }}
      </div>
      <div class="u-toolbar">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon">
            <g class="style-scope yt-icon">
              <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z" class="style-scope yt-icon"></path>
            </g>
          </svg>
          <span class="u-likes">
            {{ data.snippet.topLevelComment.snippet.likeCount }}
          </span>
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon">
            <g class="style-scope yt-icon">
              <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v1.91l.01.01L1 14c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z" class="style-scope yt-icon"></path>
            </g>
          </svg>
          <span class="u-reply">
              REPLIES {{ data.snippet.totalReplyCount }}
          </span>
      </div>
    </div>
  </div>

  <div class="meta">
    <p><strong>youtube-id:</strong> {{ data.snippet.topLevelComment.id }}</p>
  </div>
  <form action="/submit_item" method="post">
    <div class="input-item">
        <label for="index">index</label>
        <input type="number" name="index" value="{{ post_id }}">
    </div>
    <div class="all-inputs">
      {% for item in codes %}
      <div class="input-item">
        <input type="{{ item.input }}" name="{{ item.attr }}">
        <label for="{{ item.attr }}">{{ item.attr }}</label>
      </div>
      {% endfor %}
    </div>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}

