<table style='font-size:0.7em'><tr><th>N</th><th>Sample</th></tr>
<tr><td>1</td><td><ul>
<li>boils down by law abiding citizen. @USER @USER @USER @USER most gun manufacturers, car</li>
<li>everyday is. #notmypresident https t.co u1txppjbbf @USER i have bad guy just buy and had</li>
<li>saying gun ownership more a law abiding citizen(me for killing people out a regular law abiding</li>
</ul></td></tr>
<tr><td>2</td><td><ul>
<li>in 20seconds. a bopartisan bill will not let you, out kids or this nation trump-california</li>
<li>used for various purposes. @USER don't do mac app programming, focus is on the book</li>
<li>land where you can be construed as a law abiding citizen, would you immediately go shoot</li>
</ul></td></tr>
<tr><td>3</td><td><ul>
<li>holding the law abiding citizen and you don’t support strengthening background checks or universal background checks then perhaps</li>
<li>, as frequently reported in your paper. @USER murder is against the law abiding citizen. philando</li>
<li>unfair. however, alot of 18yr olds are not https t.co ftgf0ossa1 they think that supporting the</li>
</ul></td></tr>
<tr><td>4</td><td><ul>
<li>incredibly low firearm murder rate. when the descendant of etta place and the sundance kid tangles with a</li>
<li>you propose something i disagree with! then i’m gonna break the law! typical. @USER @USER makes</li>
<li>is a solution amp you cant just take away guns from law abiding citizens. they don't want daca</li>
</ul></td></tr>
<tr><td>5</td><td><ul>
<li>will be unfair to, i have good news. it won't affect you. don't be a fucking idiot</li>
<li>if it means disarming the law abiding citizen. @USER no one seems to get that a law abiding citizen</li>
<li>in the constitution, we have a right. if some guy just doesn't want to complete a background check</li>
</ul></td></tr>
</table>
