<div class='topics'>
	<p>
		<span style='font-size:12.8px; opacity:0.6989157915826636'>want</span>
		<span style='font-size:14.8px; opacity:0.7845941476540668'>legal</span>
		<span style='font-size:10.4px; opacity:0.6006399574753432'>card</span>
		<span style='font-size:12.1px; opacity:0.6705163172527103'>million</span>
		<span style='font-size:10.5px; opacity:0.605197795958624'>russian</span>
		<span style='font-size:11.2px; opacity:0.6340726192400996'>obama</span>
		<span style='font-size:17.1px; opacity:0.879902191607669'>vote</span>
		<span style='font-size:18.6px; opacity:0.9434409614054629'>immigr</span>
		<span style='font-size:12.1px; opacity:0.6702907403521112'>deport</span>
		<span style='font-size:10.2px; opacity:0.5918130898153987'>resid</span>
		<span style='font-size:10.8px; opacity:0.6176086017222846'>question</span>
		<span style='font-size:13.0px; opacity:0.709607902893066'>citizen</span>
		<span style='font-size:13.8px; opacity:0.740644194118733'>path</span>
		<span style='font-size:19.5px; opacity:0.9796645503441791'>illeg</span>
		<span style='font-size:10.7px; opacity:0.6115169199001079'>appli</span>
		<span style='font-size:12.0px; opacity:0.6683611318636999'>dreamer</span>
		<span style='font-size:12.7px; opacity:0.6954606675409953'>ask</span>
		<span style='font-size:27.4px; opacity:1'>citizenship</span>
		<span style='font-size:10.1px; opacity:0.586188464000722'>provid</span>
		<span style='font-size:11.1px; opacity:0.6297640970635148'>presid</span>
		<span style='font-size:12.3px; opacity:0.6786408853090833'>democrat</span>
		<span style='font-size:16.0px; opacity:0.8344898409523911'>trump</span>
		<span style='font-size:10.9px; opacity:0.6223836545013627'>tax</span>
		<span style='font-size:14.6px; opacity:0.7737654338936838'>american</span>
		<span style='font-size:14.3px; opacity:0.7623223771372962'>daca</span>
	</p>
	<p>
		<span style='font-size:14.2px; opacity:0.7589629017380537'>privat</span>
		<span style='font-size:11.2px; opacity:0.6319205800646737'>unit</span>
		<span style='font-size:12.8px; opacity:0.6984587489565326'>presid</span>
		<span style='font-size:8.6px; opacity:0.5263714657278553'>order</span>
		<span style='font-size:9.0px; opacity:0.5419088646816945'>district</span>
		<span style='font-size:8.7px; opacity:0.5291984613427372'>associ</span>
		<span style='font-size:8.9px; opacity:0.5378016079352352'>press</span>
		<span style='font-size:10.3px; opacity:0.5946661300805604'>target</span>
		<span style='font-size:12.2px; opacity:0.6737478932078246'>major</span>
		<span style='font-size:8.0px; opacity:0.5'>polici</span>
		<span style='font-size:9.2px; opacity:0.5480288168070815'>pull</span>
		<span style='font-size:14.7px; opacity:0.7795117564859888'>today</span>
		<span style='font-size:9.5px; opacity:0.5635463881694369'>polic</span>
		<span style='font-size:12.4px; opacity:0.6844247371354533'>attorney</span>
		<span style='font-size:14.4px; opacity:0.7650056026047374'>new</span>
		<span style='font-size:13.2px; opacity:0.7146095426142192'>report</span>
		<span style='font-size:9.9px; opacity:0.5784586290179466'>repres</span>
		<span style='font-size:13.6px; opacity:0.7353676304824931'>general</span>
		<span style='font-size:13.7px; opacity:0.7380326496673724'>offic</span>
		<span style='font-size:15.6px; opacity:0.8170507135710767'>pleas</span>
		<span style='font-size:18.9px; opacity:0.9540452656858309'>state</span>
		<span style='font-size:9.0px; opacity:0.5426181323933845'>join</span>
		<span style='font-size:12.4px; opacity:0.6835757083002943'>lawsuit</span>
		<span style='font-size:14.7px; opacity:0.7795329904110836'>trump</span>
		<span style='font-size:23.0px; opacity:1'>citizen</span>
	</p>
	<p>
		<span style='font-size:15.6px; opacity:0.8159796525700841'>amend</span>
		<span style='font-size:18.0px; opacity:0.9181275058641637'>american</span>
		<span style='font-size:17.9px; opacity:0.9131965637256256'>arm</span>
		<span style='font-size:14.7px; opacity:0.778624034217763'>militari</span>
		<span style='font-size:20.6px; opacity:1'>need</span>
		<span style='font-size:21.2px; opacity:1'>everi</span>
		<span style='font-size:15.3px; opacity:0.8030989601617486'>respons</span>
		<span style='font-size:19.2px; opacity:0.9660185842038498'>weapon</span>
		<span style='font-size:14.4px; opacity:0.7678360942488228'>pay</span>
		<span style='font-size:16.0px; opacity:0.8322542159957396'>state</span>
		<span style='font-size:14.3px; opacity:0.7625383382582072'>assault</span>
		<span style='font-size:15.7px; opacity:0.8194277479159369'>kill</span>
		<span style='font-size:16.2px; opacity:0.843014792021333'>elect</span>
		<span style='font-size:15.7px; opacity:0.8208733348945001'>want</span>
		<span style='font-size:18.5px; opacity:0.9357030320397816'>protect</span>
		<span style='font-size:15.8px; opacity:0.8256631009543693'>constitut</span>
		<span style='font-size:17.3px; opacity:0.8887011432879071'>govern</span>
		<span style='font-size:14.8px; opacity:0.7839367739795386'>democraci</span>
		<span style='font-size:16.4px; opacity:0.850280338420814'>nra</span>
		<span style='font-size:19.5px; opacity:0.9807894790617788'>vote</span>
		<span style='font-size:19.4px; opacity:0.9731766768911939'>peopl</span>
		<span style='font-size:32.0px; opacity:1'>citizen</span>
		<span style='font-size:16.1px; opacity:0.8389928389615045'>use</span>
		<span style='font-size:25.5px; opacity:1'>gun</span>
		<span style='font-size:24.9px; opacity:1'>right</span>
	</p>
	<p>
		<span style='font-size:12.5px; opacity:0.6891106657334628'>wrong</span>
		<span style='font-size:15.5px; opacity:0.8131877116063265'>live</span>
		<span style='font-size:13.5px; opacity:0.7309697508942592'>year</span>
		<span style='font-size:13.5px; opacity:0.7275532469582027'>world</span>
		<span style='font-size:22.9px; opacity:1'>citizenship</span>
		<span style='font-size:11.8px; opacity:0.6590709283374999'>born</span>
		<span style='font-size:12.1px; opacity:0.6701786860608457'>american</span>
		<span style='font-size:12.5px; opacity:0.6890431919784514'>peopl</span>
		<span style='font-size:14.6px; opacity:0.7737449032703531'>nation</span>
		<span style='font-size:11.7px; opacity:0.6541161386924143'>class</span>
		<span style='font-size:15.8px; opacity:0.8240753961725249'>like</span>
		<span style='font-size:13.1px; opacity:0.7106928350890896'>home</span>
		<span style='font-size:12.3px; opacity:0.6806412650223472'>right</span>
		<span style='font-size:13.4px; opacity:0.7237478607594958'>uk</span>
		<span style='font-size:15.9px; opacity:0.8272329098283686'>eu</span>
		<span style='font-size:11.8px; opacity:0.6574449832427551'>great</span>
		<span style='font-size:11.7px; opacity:0.6531275630706719'>india</span>
		<span style='font-size:19.3px; opacity:0.9709444447257627'>countri</span>
		<span style='font-size:15.7px; opacity:0.8223020046012834'>work</span>
		<span style='font-size:28.7px; opacity:1'>citizen</span>
		<span style='font-size:12.8px; opacity:0.7020638309814173'>make</span>
		<span style='font-size:11.6px; opacity:0.6514125523627093'>know</span>
		<span style='font-size:12.2px; opacity:0.6761524513240597'>british</span>
		<span style='font-size:11.8px; opacity:0.6597917797095625'>help</span>
		<span style='font-size:12.1px; opacity:0.6727695845936965'>dual</span>
	</p>
	<p>
		<span style='font-size:29.7px; opacity:1'>citizen</span>
		<span style='font-size:20.5px; opacity:1'>abid</span>
		<span style='font-size:14.5px; opacity:0.7701850241780777'>good</span>
		<span style='font-size:16.0px; opacity:0.8316605188115855'>american</span>
		<span style='font-size:11.7px; opacity:0.6535585731441063'>time</span>
		<span style='font-size:13.5px; opacity:0.7305268089925516'>countri</span>
		<span style='font-size:16.1px; opacity:0.8385672622419913'>peopl</span>
		<span style='font-size:14.3px; opacity:0.7613909364010201'>senior</span>
		<span style='font-size:13.5px; opacity:0.7273005886820005'>tri</span>
		<span style='font-size:14.4px; opacity:0.7681973203648307'>want</span>
		<span style='font-size:11.8px; opacity:0.6594057177579501'>come</span>
		<span style='font-size:26.3px; opacity:1'>law</span>
		<span style='font-size:12.3px; opacity:0.6808409963545365'>yes</span>
		<span style='font-size:13.0px; opacity:0.7097775148895489'>need</span>
		<span style='font-size:12.1px; opacity:0.6722177673111994'>everi</span>
		<span style='font-size:14.4px; opacity:0.765452086471164'>make</span>
		<span style='font-size:14.9px; opacity:0.7883644282798128'>say</span>
		<span style='font-size:16.2px; opacity:0.8427772042655686'>know</span>
		<span style='font-size:15.2px; opacity:0.7996592433665178'>gun</span>
		<span style='font-size:14.9px; opacity:0.7857205978130463'>think</span>
		<span style='font-size:14.0px; opacity:0.7520767399907083'>stop</span>
		<span style='font-size:13.6px; opacity:0.7332726073184557'>right</span>
		<span style='font-size:12.3px; opacity:0.6804387513574146'>becom</span>
		<span style='font-size:14.4px; opacity:0.7681012738368265'>crimin</span>
		<span style='font-size:18.5px; opacity:0.9376426614101575'>like</span>
	</p>
</div>